.grid-conteiner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #808080ff;
    padding-left: 55px;
    padding-right: 55px;
    grid-gap: 110px;
}

.form_box {
    padding-top: 25px;
}

.form_box input[type = text] {
    width: 69%;
    padding: 5px;
    border: 1px solid #ccccccff;
    box-sizing: border-box;
}

.form_box input[type = submit] {
    width: 30%;
    background-color: #ff6600ff;
    color: white;
    padding: 5px;
    border: none;
}

.grid-conteiner-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ccccccff;
    padding: 55px;
    grid-gap: 55px;
}

a img {
    width: 100%;
}

.grid-conteiner-main-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #808080ff;
    grid-gap: 55px;
    padding: 55px;
}

.item-text-1 h2 {
    color: #fff;
    font-size: 30px;
}

.item-text-1 p {
    color: #fff;
    font-size: 20px;
}

.item-text-1 button {
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    width: 30%;
    background-color: #ff6600ff;
    color: white;
}

.box-text-1 {
    margin: 55px;
}

.box-text-1 h2 {
    font-size: 25px;
}

.box-text-1 p {
    font-size: 20px;
}

.grid-conteiner-footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #ccccccff;
    grid-gap: 55px;
    padding: 55px;
}

.grid-conteiner-footer form input, textarea, select {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #fff;
    line-height: 40px;
    font-family: "Roboto", sans-serif;
    border: none;
}

.conteiner-footer-form input[type = "submit"] {
    background-color: #ff6600ff;
    color: #fff;
}